/* DOGGO PIXEL SPRITE — IDLE ANIMATION */
.dog-idle {
  width: 48px;
  height: 48px;
  background-image: url("/character/dog/idle.png");
  background-size: 192px 48px; /* 4 frames horizontally */
  image-rendering: pixelated;
  animation: dogIdle 0.65s steps(4) infinite;
  pointer-events: none;
  margin-left: 30%;
}

/* Animate background sprite-position */
@keyframes dogIdle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -192px 0;
  }
}

html.dark .glow-dynamic {
  text-shadow: 0 0 8px var(--color-foreground), 0 0 16px var(--color-foreground),
    0 0 28px var(--color-hero2);
}
.box-glow-hover:hover {
  box-shadow: 0 0 8px var(--color-hero1), 0 0 16px var(--color-hero1),
    0 0 28px var(--color-hero2);
}
html.dark .box-glow-hover:hover {
  box-shadow: 0 0 8px var(--color-hero1), 0 0 16px var(--color-hero1),
    0 0 28px var(--color-hero2);
}

.footer-glow-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden; /* CRITICAL */
  pointer-events: none;
  z-index: -1;
}
